h1 {
	width:       100%;
	height:      100%;
	line-height: 100%;
	text-align:  center;
}

@media (min-aspect-ratio: 3 / 4) {
	h1 {
		color: red;
	}
}

@media (min-width: 1008px) {
	h1 {
		height: 50vh;
		color:  black;
	}
}

@media (min-width: 1200px) {
	h1 {
		color: green;
	}
}