:root {
	--background-color: transparent;
	--border-color:     transparent;
	--font-family:      -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, SimSun, Arial, sans-serif;
	--font-color:       #000;
	--font-size:        12px;
	--line-height:      1.15;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	height:      100%;
	box-sizing:  border-box;
	color:       var(--font-color);
	font-family: var(--font-family);
	font-size:   var(--font-size);
	line-height: var(--line-height);
}

body {
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing:  0;
}

img { border: 0; }

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

/*
User Tag
*/
.scroll {
	overflow: auto !important;

	&-x {
		overflow-x: auto !important;
		overflow-y: hidden !important;
	}
	&-y {
		overflow-x: hidden !important;
		overflow-y: auto !important;
	}
	&-hide-bar {
		&::-webkit-scrollbar {
			display:    none;
			width:      1px;
			height:     1px;
			background: transparent;
		}
	}
}

.cursor {
	cursor: default;

	&-pointer { cursor: pointer !important; }
	&-wait { cursor: wait !important; }
	&-text { cursor: text !important; }
	&-help { cursor: help !important; }
	&-move { cursor: move !important; }
	&-cross { cursor: crosshair !important; }
}

@media print {
	@page {
		size: a4;
	}

	*, *::before, *::after {
		text-shadow: none !important;
		box-shadow:  none !important;
	}
}






