.image-auto {
	box-sizing: padding-box;
	overflow:   hidden;
	display:    flex;
	width:      100%;
	height:     auto;
	padding:    5%;

	img {
		display:    block;
		width:      auto;
		height:     auto;
		max-width:  100%;
		max-height: 100%;
		margin:     auto;
	}

	&.scale {
		cursor: pointer;

		img {
			-webkit-transition: all .5s;
			-moz-transition:    all .5s;
			-ms-transition:     all .5s;
			-o-transition:      all .5s;
			transition:         all .5s;

			&:hover {
				-webkit-transform: scale(1.1);
				-moz-transform:    scale(1.1);
				-ms-transform:     scale(1.1);
				-o-transform:      scale(1.1);
				transform:         scale(1.1);
			}
		}
	}
}

.waterfall {
	display:         flex;
	flex-direction:  row;
	justify-content: space-between;

	.wf-column {
		display: block;
		width:   calc((100% - 4%) / 5);
	}

	.wf-item {
		display:       block;
		margin-bottom: 1%;
	}
}

@mixin iconSvg {
	content:               "";
	box-sizing:            border-box;
	display:               block;
	width:                 100%;
	height:                100%;
	margin:                auto;
	padding:               0;
	background-color:      attr(svg-color);
	-webkit-mask-image:    url(attr(svg-src));
	-webkit-mask-repeat:   no-repeat;
	-webkit-mask-size:     100% 100%;
	-webkit-mask-position: center center;
}

.icon-svg {
	&.before {
		&:before {
			@include iconSvg();
		}
	}

	&.after {
		&:after {
			@include iconSvg();
		}
	}
	&.self {
		@include iconSvg();
	}
}

@mixin triangle {
	content:      "";
	display:      block;
	position:     relative;
	width:        0;
	height:       0;
	border-width: 10px;
	border-style: solid;
	border-color: #fff;
}

.triangle {
	&.before {
		&:before {
			@include triangle();
		}
	}

	&.after {
		&:before {
			@include triangle();
		}
	}

	&.top {
		&.before:before, &.after:after {
			border-top-color:   transparent !important;
			border-right-color: transparent !important;
			border-left-color:  transparent !important;
		}
	}
	&.bottom {
		&.before:before, &.after:after {
			border-right-color:  transparent !important;
			border-bottom-color: transparent !important;
			border-left-color:   transparent !important;
		}
	}
	&.left {
		&.before:before, &.after:after {
			border-top-color:    transparent !important;
			border-bottom-color: transparent !important;
			border-left-color:   transparent !important;
		}
	}
	&.right {
		&.before:before, &.after:after {
			border-top-color:    transparent !important;
			border-right-color:  transparent !important;
			border-bottom-color: transparent !important;
		}
	}
}

.text-abbr {
	overflow:      hidden;
	text-overflow: ellipsis;
	white-space:   nowrap;
}