@function col_calc($num) {
	@return $num / 12 * 100%;
}

@mixin width($val, $mval: none) {
	@if $val == auto {
		width: auto;
	} @else {
		$mval: $val;
	}
	-ms-flex:  0 0 $val;
	flex:      0 0 $val;
	max-width: $mval;
}

@mixin order($index) {
	-ms-flex-order: $index;
	order:          $index;
}

@mixin offset($key, $val) {
	@if $val == 0% {
		#{$key}: 0;
	} @else {
		#{$key}: $val;
	}
}

@mixin col_init($col, $order, $offset) {
	.#{$col}, .#{$col}-auto, .#{$col}-1, .#{$col}-2, .#{$col}-3, .#{$col}-4, .#{$col}-5, .#{$col}-6, .#{$col}-7, .#{$col}-8, .#{$col}-9, .#{$col}-10, .#{$col}-11, .#{$col}-12 {
		position:      relative;
		width:         100%;
		min-height:    1px;
		padding-right: 15px;
		padding-left:  15px;
	}

	.#{$col} {
		-ms-flex-preferred-size: 0;
		flex-basis:              0;
		-ms-flex-positive:       1;
		flex-grow:               1;
		max-width:               100%;

		&-auto {
			@include width(auto);
		}

		&-push-0 {
			@include offset(left, 0);
		}

		&-pull-0 {
			@include offset(right, 0);
		}

		@for $i from 1 to 13 {
			$val: col_calc($i);

			&-#{$i} {
				@include width($val);
			}

			&-push-#{$i} {
				@include offset(left, $val);
			}

			&-pull-#{$i} {
				@include offset(right, $val);
			}
		}
	}

	.#{$order} {
		&-first {
			@include order(-1);
		}

		&-last {
			@include order(13);
		}

		@for $i from 0 to 13 {
			&-#{$i} {
				@include order($i);
			}
		}
	}

	.#{$offset} {
		@for $i from 0 to 13 {
			&-#{$i} {
				$val: col_calc($i);
				@include offset(margin-left, $val);
			}
		}
	}
}

.container, .bodyer {
	width:         100%;
	padding-left:  15px;
	padding-right: 15px;
	margin-left:   auto;
	margin-right:  auto;
}

.row {
	display:       -ms-flexbox;
	display:       flex;
	-ms-flex-wrap: wrap;
	flex-wrap:     wrap;
	margin-left:   -15px;
	margin-right:  -15px;
}

.no-gutters {
	padding-left:  0;
	padding-right: 0;

	.container, .bodyer, .col, [class*="col-"] {
		padding-left:  0;
		padding-right: 0;
	}
}

.max-width {
	max-width: 100% !important;
}

@include col_init(col, order, offset);

@media (min-width: 576px) {
	.container, .bodyer {
		max-width: 540px;
	}
	@include col_init(col-sm, order-sm, offset-sm);
}

@media (min-width: 768px) {
	.container, .bodyer {
		max-width: 720px;
	}
	@include col_init(col-md, order-md, offset-md);
}

@media (min-width: 992px) {
	.container, .bodyer {
		max-width: 960px;
	}
	@include col_init(col-lg, order-lg, offset-lg);
}

@media (min-width: 1008px) {
	.container, .bodyer {
		max-width: 95%;
	}
	@include col_init(col-web, order-web, offset-web);
}

@media (min-width: 1200px) {
	.container, .bodyer {
		max-width: 1140px;
	}
	@include col_init(col-xl, order-xl, offset-xl);
}

@media print {
	@include col_init(col-print, order-print, offset-print);
}