@-ms-viewport {
	width: device-width;
}

.fixed {
	overflow: hidden;
	display:  block;
	position: fixed;
	z-index:  1000;

	&-top {
		@extend .fixed;
		left:  0;
		right: 0;
		top:   0;
	}
	&-bottom {
		@extend .fixed;
		bottom: 0;
	}
}

@mixin dis_init($col) {
	.#{$col} {
		display:      block;
		overflow:     hidden;
		margin-left:  auto;
		margin-right: auto;

		&-initial { display: initial; }
		&-inherit { display: inherit; }
		&-none { display: none; }
		&-block { display: block; }
		&-iblock { display: inline-block; }
		&-inline { display: inline; }
		&-table { display: table; }
		&-table-row { display: table-row; }
		&-table-cell { display: table-cell; }

		&-auto {
			display:  block;
			overflow: hidden;
			margin:   0 auto;
		}

		&-flex {
			display: flex;
			display: -ms-flexbox;
		}
	}
}

@mixin float_init($col) {
	.#{$col} {
		float: initial;

		&-initial { float: initial; }
		&-inherit { float: inherit; }
		&-left { float: left; }
		&-right { float: right; }
		&-none { float: none; }
		&-clear {
			clear: both;

			&:after {
				content:    "";
				display:    block;
				height:     0;
				clear:      both;
				visibility: hidden;
			}

			&-left { clear: left; }
			&-right { clear: right; }
		}
	}
}

@mixin box-single($key, $value) {
	box-#{$key}:         #{$value};
	-moz-box-#{$key}:    #{$value};
	-webkit-box-#{$key}: #{$value};
}

@mixin box_init($col) {
	.#{$col} {
		display: box;
		display: -moz-box;
		display: -webkit-box;

		&-vertical {
			@include box-single(orient, vertical);
		}
		&-horizontal {
			@include box-single(orient, horizontal);
		}
		&-reverse {
			@include box-single(direction, reverse);
		}
		&-normal {
			@include box-single(direction, normal);
		}
	}
}

@mixin flex_single($key, $value) {
	display:     flex;
	-ms-#{$key}: $value;
	#{$key}:     $value;
}

@mixin flex_init($col) {
	.#{$col} {
		@include flex_single(flex, 0 0 auto);

		&-row {
			@include flex_single(flex-direction, row);
		}
		&-col {
			@include flex_single(flex-direction, column);
		}
		&-row-rev {
			@include flex_single(flex-direction, row-reverse);
		}
		&-col-rev {
			@include flex_single(flex-direction, column-reverse);
		}
		&-wrap {
			@include flex_single(flex-wrap, wrap);
		}
		&-wrap-rev {
			@include flex_single(flex-wrap, wrap-reverse);
		}
		&-auto {
			@include flex_single(flex, 0 0 auto);
		}
		&-initial {
			@include flex_single(flex, initial);
			@include flex_single(flex-direction, initial);
			@include flex_single(flex-wrap, initial);
		}
		&-inherit {
			@include flex_single(flex, inherit);
			@include flex_single(flex-direction, inherit);
			@include flex_single(flex-wrap, inherit);
		}
	}
}

@mixin justify_single($val1, $val2) {
	-ms-flex-pack:   $val1;
	justify-content: $val2;
}

@mixin justify_init($col) {
	.#{$col} {
		@include justify_single(between, space-between);

		&-start {
			@include justify_single(start, flex-start);
		}
		&-end {
			@include justify_single(end, flex-end);
		}
		&-center {
			@include justify_single(center, center);
		}
		&-around {
			@include justify_single(distribute, space-around);
		}
		&-between {
			@include justify_single(between, space-between);
		}
		&-initial {
			@include justify_single(initial, initial);
		}
		&-inherit {
			@include justify_single(inherit, inherit);
		}
	}
}

@mixin align_items_single($val1, $val2) {
	-ms-flex-pack: $val1;
	align-items:   $val2;
}

@mixin align_items_init($col) {
	.#{$col} {
		@include align_items_single(center, center);

		&-start {
			@include align_items_single(start, flex-start);
		}
		&-end {
			@include align_items_single(end, flex-end);
		}
		&-center {
			@include align_items_single(center, center);
		}
		&-baseline {
			@include align_items_single(baseline, baseline);
		}
		&-stretch {
			@include align_items_single(stretch, stretch);
		}
	}
}

@mixin align_content_single($val1, $val2) {
	-ms-flex-line-pack: $val1;
	align-content:      $val2;
}

@mixin align_content_init($col) {
	.#{$col} {
		@include align_content_single(justify, space-between);

		&-start {
			@include align_content_single(start, flex-start);
		}
		&-end {
			@include align_content_single(end, flex-end);
		}
		&-center {
			@include align_content_single(center, center);
		}
		&-baseline {
			@include align_content_single(baseline, baseline);
		}
		&-stretch {
			@include align_content_single(stretch, stretch);
		}
		&-between {
			@include align_content_single(justify, space-between);
		}
		&-auto {
			@include align_content_single(auto, auto);
		}
	}
}

@mixin align_self_single($val1, $val2) {
	-ms-flex-item-pack: $val1;
	align-self:         $val2;
}

@mixin align_self_init($col) {
	.#{$col} {
		@include align_self_single(justify, space-between);

		&-start {
			@include align_self_single(start, flex-start);
		}
		&-end {
			@include align_self_single(end, flex-end);
		}
		&-center {
			@include align_self_single(center, center);
		}
		&-between {
			@include align_self_single(justify, space-between);
		}
		&-around {
			@include align_self_single(distribute, space-around);
		}
	}
}

@include dis_init(dis);
@include float_init(float);
@include box_init(box);
@include flex_init(flex);
@include justify_init(hflex);
@include align_content_init(vflex);
@include align_items_init(vflex-item);
@include align_self_init(vflex-self);

@media (min-width: 576px) {
	@include dis_init(dis-sm);
	@include float_init(float-sm);
	@include box_init(box-sm);
	@include flex_init(flex-sm);
	@include justify_init(hflex-sm);
	@include align_content_init(vflex-sm);
	@include align_items_init(vflex-item-sm);
	@include align_self_init(vflex-self-sm);
}

@media (min-width: 768px) {
	@include dis_init(dis-md);
	@include float_init(float-md);
	@include box_init(box-md);
	@include flex_init(flex-md);
	@include justify_init(hflex-md);
	@include align_content_init(vflex-md);
	@include align_items_init(vflex-item-md);
	@include align_self_init(vflex-self-md);
}

@media (min-width: 992px) {
	@include dis_init(dis-lg);
	@include float_init(float-lg);
	@include box_init(box-lg);
	@include flex_init(flex-lg);
	@include justify_init(hflex-lg);
	@include align_content_init(vflex-lg);
	@include align_items_init(vflex-item-lg);
	@include align_self_init(vflex-self-lg);
}

@media (min-width: 1200px) {
	@include dis_init(dis-xl);
	@include float_init(float-xl);
	@include box_init(box-xl);
	@include flex_init(flex-xl);
	@include justify_init(hflex-xl);
	@include align_content_init(vflex-xl);
	@include align_items_init(vflex-item-xl);
	@include align_self_init(vflex-self-xl);
}

@media print {
	@include dis_init(dis-print);
	@include float_init(float-print);
	@include box_init(box-print);
	@include flex_init(flex-print);
	@include justify_init(hflex-print);
	@include align_content_init(vflex-print);
	@include align_items_init(vflex-item-print);
	@include align_self_init(vflex-self-print);
}