.text {
	&-left { text-align: left !important; }
	&-right { text-align: right !important; }
	&-center { text-align: center !important; }
	&-justify {
		text-align:      justify;
		text-justify:    distribute-all-lines;
		text-align-last: justify;
	}

	&-nosel {
		user-select:         none !important;
		-moz-user-select:    none !important;
		-webkit-user-select: none !important;
		-ms-user-select:     none !important;
	}
}

.word-break {
	word-break: break-all !important;
}
