:root {
	--font-size: 75px;
}

::-webkit-scrollbar {
	display: none;
	width:   6px;
	height:  6px;
}

::-webkit-scrollbar-thumb {
	border-radius:      3px;
	//background-color:   var(--color-main-red);
	background-color:   #ccc;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
	border-radius:      6px;
	background:         #ededed;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

html, body {
	width:            100vw;
	background-color: #fff;
}

.bodyer {
	box-sizing: border-box;
	width:      100vw;
	max-width:  100vw !important;
	height:     100vh;
	overflow-y: auto;
}
