doctype html
html
	head
		meta(charset="utf-8")
		title 测试
		meta(http-equiv="Cache", content="no-cache")
		meta(http-equiv="Cache-Control", content="no-cache")
		meta(http-equiv="Pragma", content="no-cache")
		meta(http-equiv="Expires", content="0")
		meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,shrink-to-fit=no")
		link(type="text/css", rel="stylesheet", href="/inc/src/global.min.css")
		script(type="text/javascript", src="/inc/src/jQuery.js")
		script(type="text/javascript", src="/inc/jBD/jBD.js")
		script(type="text/javascript", src="/inc/es6chk.js")
		script(type="text/javascript", src="/inc/src/global.js")
		link(type="text/css", rel="stylesheet", href="/css/layout.css")
		block metaer
	body.no-gutters(oncontextmenu="self.event.returnValue=false")
		.bodyer.scroll-y
			block bodyer
